@{
    ViewData["Title"] = "Контакти";
}
<div class="text-center pb-5">
    <h1>
        Образователен център "Трите сови"
    </h1>
    <h3>
        ул. Ангел Димитров 28А 8016 Бургас
    </h3>
</div>

<div class="p-3 mb-2 bg-primary text-white"></div>

<div class="col-lg-xl-8">
    <h3>Нашето местоположение </h3>
    <iframe class="col-12 min-vh-80" src="https://www.google.com/maps/embed/v1/place?q=ул.+„Ангел+Димитров“+28А,+8016+Сарафово,+Бургас&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" allowfullscreen></iframe>
</div>

<div class="p-3 mb-2 bg-primary text-white"></div>

<div class="col-lg-xl-8 d-flex flex-row">

    <div class="m-3">
        <h3>Свържете се с нас:</h3>
        <ul>
            <li class="h5">Телефон : 089 596 5764</li>
            <li class="h5">E-mail : tritesovi@gmail.com</li>
        </ul>
    </div>

    <div class="m-3">
        <h3>
            Последвайте ни или ни посетете
        </h3>
        <ul class="sm">
            <li class="fa fa-facebook-f h5"><a class="p-3 h5" href="https://www.facebook.com/%D0%9E%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D0%B5%D0%BD-%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80-%D0%A2%D1%80%D0%B8%D1%82%D0%B5-%D1%81%D0%BE%D0%B2%D0%B8-352266128437687">Трите сови - facebook</a></li>
        </ul>
    </div>

</div>

<div class="p-3 mb-2 bg-primary text-white"></div>

<div class="alert alert-primary pt-3 mt-3" role="alert">
    <h4 class="text-center">За други въпроси моля използвайте тази форма: </h4>
</div>

<div class="offset-lg-2 col-lg-8">

    <div class="form-group">
        <label>Име</label>
        <input id="fromName" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input id="toName" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Съобщение</label>
        <textarea id="message" class="form-control" rows="7"></textarea>
    </div>

    <div class="form-group">
        <button onclick="sendMail()" class="btn btn-primary btn-block">Изпрати запитване</button>
    </div>

</div>