@{
    ViewData["Title"] = "Home Page";
}

<div class="row ml-0">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
</div>
<div class="row ml-0">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
</div>
