@{
    ViewData["Title"] = "Занималня";
}
<img src="https://prikazka.net/wp-content/uploads/2020/01/images.jpg" alt="Alternate Text" />
<div class="container p-2 m-2 d-inline-block text-center">
    <a asp-controller="StudyHall" asp-action="Add" class="btn btn-primary">Добави учебна занималня</a>
    <a asp-controller="StudyHall" asp-action="Add" class="btn btn-primary">Добави лятна занималня</a>
</div>