@{
    ViewData["Title"] = "Занималня";
}

<div class="container p-2 m-2 d-inline-block text-center">
    <a asp-controller="StudyHall" asp-action="Summer" class="btn btn-primary">Лятна занималня</a>
    <a asp-controller="StudyHall" asp-action="Educational" class="btn btn-primary">Учебна занималня</a>
</div>
<img src="https://prikazka.net/wp-content/uploads/2020/01/images.jpg" alt="Alternate Text" />