@model TheThreeOwlsWebApp.Models.StudyHall.StudyHallListingModel
@{
    ViewData["Title"] = "Учебна занималня";
}
<img src="@Model.Image" alt="@Model.Title" />
<p class="col-sm-12">
    @Html.Raw(Model.Text)
</p>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="StudyHall" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-primary">Промени</a>
}