@model TheThreeOwlsWebApp.Models.Courses.AddCourseViewModel

@{
    ViewData["Title"] = "Добави Курс";
}

<form method="post">
    <div class="container offset-3 col-6">
        <h3 class="text-center"> Добави Курс</h3>
        <div class="form-group">
            <label asp-for="CategoryId">Език</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"CourseId","Language"))" class="form-control"></select>
            <span asp-validation-for="Category" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">Име</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
            <label asp-for="ForKids" class="checkbox-inline m-3">
                <input type="checkbox" asp-for="ForKids" />  За деца
            </label>
            <label asp-for="Suggestopedia" class="checkbox-inline m-3">
                <input type="checkbox" asp-for="Suggestopedia" /> Сугестопедичен
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Price">Цена</label>
            <input asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image">Път до снимката</label>
            <input asp-for="Image" class="form-control">
            <span asp-validation-for="Image" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Информация за курса</label>
            <textarea asp-for="Description" class="tinymce" ></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>
        <input class="btn btn-primary float-right" type="submit" value="Запази" />
    </div>
</form>
<script type="text/javascript" src="~/tinymce/tinymce.min.js"></script>