@{
    ViewData["Title"] = "Сугестопедия";
}
<div class="row d-flex justify-content-center pb-5">
    <a asp-controller="Courses" asp-action="All" asp-route-sugestopedy="true" class="btn btn-info">Нашите сугестопедични курсове</a>
</div>
<h1 class="text-center">Какво е сугестопедия</h1>

<div class="container p-5">
    <div class="d-inline-flex justify-content-between">
        <p>
            Сугестопедията е призната от ЮНЕСКО за оригинална образователна система още през1978 година, започвайки своето развитие от науката сугестология повече от десетилетие по-рано . Тя представлява комбинация между педагогика, психология и изкуство. Създадена е от българския учен, психиатър и педагог проф. Д-р Георги Лозанов и е експериментирана и развита от екип изследователи и преподаватели в ръководения от него научно-изследователски институт по сугестология в периода 1966-1991. Част от тези сътрудници активно предават своите познания и умения на новото поколение сугестопедагози в Алегро Виваче, за да осъществят приемственост и съхранят ценния опит.
        </p>
        <div class="float-right col-4">
            <img src="http://ivotopalov.net/wp-content/uploads/2015/10/d-r-Lozanov-snimka-Vanina-Bodurova-ivotopalov.jpeg" alt="проф.д-р  Георги Лозанов" class="img-fluid pl-3 h-auto w-auto" />
            <p class="text-center text-secondary">проф.д-р  Георги Лозанов</p>
        </div> 
    </div>
    <div>
        <p>
            Сугестопедичният метод е най-добре развит при ученето на чужди езици и в началната училищна педагогика и намира разпространение в цял свят. При сугестопедичното обучение знанията се усвояват:
        </p>
        <ul>
            <li>
            по радостен и спонтанен начин
            </li>
            <li>
                с помощта на изкуството и естетиката
            </li>
            <li>
                чрез умствена релаксация и ненапрегната концентрация
            </li>
        </ul>
        <p>Концепцията, която лежи в основата на сугестопедията, е свързана с изследванията на проф. д-р Георги Лозанов върху неизползваните възможности на човешката личност (резерви) и безопасното достигане до тях. Под безопасно се има предвид комуникация, която не нарушава свободната воля на избор на личността и която се отличава от всяка принуда, команда, манипулиране, унижение, подценяване и др. С дидактични и артистични средства се стимулира спонтанната и креативна изява на участниците в учебната комуникация.</p>
        <p>В основата на сугестопедията е заложено единството на сугестия и десугестия, като последната цели освобождаването от предишни психотравми, от наложени обществени норми, които биха могли да спират пълноценното израстване на личността да развива своите способности. При децата десугестивното обучение води до създаване на чувствителност към всякакъв вид сугестия и съответно действа превантивно, като цели разгръщане на личността с нейните таланти от най-ранна възраст.</p>
        <p>Ученето е естествен и радостен процес на откривателство. Затова сугестопедията създава среда за креативно и щастливо учене, подавайки многобразие от стимули и информация, едновременно с това удовлетворявайки естествената нужда на човека от красота и  междуличностно общуване. Без да пренебрегва ролята на други емоции, тя се стреми да създаде оптимистичен и здрав мироглед у участниците в процеса на обучение.</p>
    </div>
    <h4 class="text-center">МЕТОДОЛОГИЯ И УЧЕБЕН ПРОЦЕС</h4>
    <div>
        Основите на сугестопедията са базирани на 7-ТЕ ЗАКОНА НА СУГЕСТОПЕДИЯТА , които дават възможност успешно да се  усвояват нови знания като се стимулират всички сетива и интелекта на човека.

        Предлаганата информация се усвоява спонтанно с радост и ефект на релаксация. В учебния процес е включена много музика и класическо изкуство, което носи много позитивни преживявания и вдъхновение за курсистите.
    </div>
</div>