@{
    ViewData["Title"] = "Сугестопедия";
}
<div class="row d-flex justify-content-center pb-1">
    <a asp-controller="Courses" asp-action="All" asp-route-modifier="Suggestopedia" class="btn btn-info">Нашите сугестопедични курсове</a>
</div>
<h1 class="text-center">Какво е сугестопедия</h1>

<div class="container p-5 mb-5">
    <div class="d-inline-flex justify-content-between">
        <p>
            Сугестопедията е призната от ЮНЕСКО за оригинална образователна система още през1978 година, започвайки своето развитие от науката сугестология повече от десетилетие по-рано . Тя представлява комбинация между педагогика, психология и изкуство. Създадена е от българския учен, психиатър и педагог проф. Д-р Георги Лозанов и е експериментирана и развита от екип изследователи и преподаватели в ръководения от него научно-изследователски институт по сугестология в периода 1966-1991. 
        </p>
        <div class="float-right col-4">
            <img src="http://ivotopalov.net/wp-content/uploads/2015/10/d-r-Lozanov-snimka-Vanina-Bodurova-ivotopalov.jpeg" alt="проф.д-р  Георги Лозанов" class="img-fluid pl-3 h-auto w-auto" />
            <p class="text-center text-secondary">проф.д-р  Георги Лозанов</p>
        </div> 
    </div>
    <div>
        <p>
            Сугестопедичният метод е най-добре развит при ученето на чужди езици и в началната училищна педагогика и намира разпространение в цял свят. При сугестопедичното обучение знанията се усвояват:
        </p>
        <ul>
            <li>
            по радостен и спонтанен начин
            </li>
            <li>
                с помощта на изкуството и естетиката
            </li>
            <li>
                чрез умствена релаксация и ненапрегната концентрация
            </li>
        </ul>
        <p>Концепцията, която лежи в основата на сугестопедията, е свързана с изследванията на проф. д-р Георги Лозанов върху неизползваните възможности на човешката личност (резерви) и безопасното достигане до тях. Под безопасно се има предвид комуникация, която не нарушава свободната воля на избор на личността и която се отличава от всяка принуда, команда, манипулиране, унижение, подценяване и др. С дидактични и артистични средства се стимулира спонтанната и креативна изява на участниците в учебната комуникация.</p>
        <p>В основата на сугестопедията е заложено единството на сугестия и десугестия, като последната цели освобождаването от предишни психотравми, от наложени обществени норми, които биха могли да спират пълноценното израстване на личността да развива своите способности. При децата десугестивното обучение води до създаване на чувствителност към всякакъв вид сугестия и съответно действа превантивно, като цели разгръщане на личността с нейните таланти от най-ранна възраст.</p>
        <p>Ученето е естествен и радостен процес на откривателство. Затова сугестопедията създава среда за креативно и щастливо учене, подавайки многобразие от стимули и информация, едновременно с това удовлетворявайки естествената нужда на човека от красота и  междуличностно общуване. Без да пренебрегва ролята на други емоции, тя се стреми да създаде оптимистичен и здрав мироглед у участниците в процеса на обучение.</p>
    </div>
    <h4 class="text-center p-4">МЕТОДОЛОГИЯ И УЧЕБЕН ПРОЦЕС</h4>
    <div>
        Основите на сугестопедията са базирани на 7-ТЕ ЗАКОНА НА СУГЕСТОПЕДИЯТА , които дават възможност успешно да се  усвояват нови знания като се стимулират всички сетива и интелекта на човека.

        Предлаганата информация се усвоява спонтанно с радост и ефект на релаксация. В учебния процес е включена много музика и класическо изкуство, което носи много позитивни преживявания и вдъхновение за курсистите.
    </div>
    <h4 class="text-center p-2">7-те закона на Сусгестопедията:</h4>
    <div class="container">
        <ul class="list-unstyled">
            <li class="col-8 float-left border border-danger rounded p-2 m-2 bg-danger">
                <h5>1.Любов</h5>
                <p>
                    Общочовешка любов.
                    Любов към човешкото същество – това висше творение на Природата.
                    Преподавателят се отнася с любов към курсистите си, към работата си, към колегите си, към себе си. С любов изграждаме доверие, спокойствие, хармония. В такава среда хората се освобождават от тревожността, от вътрешните пречки и по-лесно общуват, по-лесно изявяват себе си по един прекрасен и уникален начин.
                </p>
            </li>
            <li class="col-8 float-right border border-danger rounded p-2 m-2 bg-warning">
                <h5>
                    2.Свобода
                </h5>
                <p>
                    ри обучение по метода Сугестопедия, вместо да налагаме – предлагаме (suggest – предлагам).
                    Курсистите са свободни да избират дейностите, в които да се включат активно, свободни са да възприемат по предпочитан от тях начин.
                    В условията на свобода и ръководейки се от общата методика, преподавателят претворява обучението по свой неповторим начин, съответстващ на личността му и богатството на неговата душевност.
                </p>
            </li>
            <li class="col-8 float-left border border-info rounded p-2 m-2 bg-info">
                <h5>
                    3.Убеденост на преподавателя, че нещо необикновено се случва
                </h5>
                <p>
                    Тази настройка на преподавателя е ключова, за да можем да стимулираме човека да разкрие скритите си резерви или възможности. Когато тази убеденост на преподавателя в необикновеното, е жива в него, той спонтанно я предава и на курсистите, излъчвайки фини автентични сигнали. Тези сигнали са искрици, които разпалват вдъхновението, усещането за нещо необикновено у курсистите и спомагат за разкриването на собствените им възможности.
                </p>
            </li>
            <li class="col-8 float-right border border-success rounded p-2 m-2 bg-success">
                <h5>
                    4.Многократно увеличен учебен материал
                </h5>
                <p>
                    Професор д-р Лозанов експериментално доказва, че „колкото повече се натоварва паметта, толкова резултатите са по-добри.”
                    „Сега учещите са способни да усвояват учебния материал поне два до три пъти и до пет до десет пъти по-бързо и по- добре от резултатите в традиционните методики, с благоприятен ефект върху здравето и възпитанието. В бъдеще този ритъм на усвояване може да се увеличи многократно”, убеден е професорът.
                </p>
            </li>
            <li class="col-8 float-left border border-primary rounded p-2 m-2 bg-primary">
                <h5>
                    5.Връзката цяло-част, част-цяло
                </h5>
                <p>
                    Частта не може да съществува пълноценно вън от цялото. (Може ли главата да има пълноценен собствен живот, отделена от тялото?) Затова разглеждаме частите в контекста на цялото, винаги в общата картина, в общата история. Например, буквите са част от думите; думите са част от изрази, те пък са част от изречения, които са част от една история.
                </p>
            </li>
            <li class="col-8 float-right border border-danger rounded p-2 m-2 bg-danger">
                <h5>
                    6.Златната пропорция
                </h5>
                <p>
                    Изразена в числото 0,618, златната пропорция съществува навсякъде в природата. Тя е основен принцип в класическото изкуство и навсякъде, където присъства, внася хармония и баланс. В сугестопедичното обучение се водим от златната пропорция при подготовката на материалите и когато определяме на времетраенето на различните дейности, за да постигнем ефекта „без умора”.
                </p>
            </li>
            <li class="col-8 float-left border border-danger rounded p-2 m-2 bg-warning">
                <h5>
                    7.Използване на класическото изкуство
                </h5>
                <p>
                    В сугестопедичната среда сме заобиколени от репродукции на шедьоври на класическото изобразителното изкуство. Звучи тиха класическа музика. Докосваме се до богатството на класиците в литературата. Всички те, заедно с естетичното оформление, създават приятна, спокойна среда, без напрежение.
                </p>
            </li>
        </ul>
        
    </div>
</div>