<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Трите Сови</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customCss.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_h93S7BrOPE1EHjvVUQkqB");
        })();
    </script>
</head>
<body>
    <header>
        <div class="container col-lg-12 d-flex flex-lg-row align-items-lg-center justify-content-lg-between">
            <div class="ml-5">
                <nav class="navbar p-0 m-0 navbar-expand-sm  navbar-light bg-white mb-3">
                    <a class="nav-link p-0 m-0 text-dark" asp-controller="Home" asp-action="Index">
                        <img id="logoImg" src="~/images/Logo.jpg" alt="Logo" />
                    </a>
                </nav>
            </div>
            <div class="mr-3">
                <div id="headerNavigations" class="container">
                    <div class="navbar navbar-dark collapse d-sm-inline-flex justify-content-between">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                                <a class="nav-link text-dark h4" asp-controller="Home" asp-action="Index">Начало</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle h4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Занималня
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item h4" href="#">Учебна занималня</a>
                                    <a class="dropdown-item h4" href="#">Лятна занималня</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h4" asp-controller="Courses" asp-action="All" >Езикови курсове</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h4" asp-area="" asp-controller="Teachers" asp-action="All">За нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h4" asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark h4" asp-area="" asp-controller="Blog" asp-action="All">Блог</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.UtcNow.Year Трите сови - <a asp-area="" asp-controller="Contacts" asp-action="Home">Контакти</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
