<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Трите Сови</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customCss.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="menu">
                <a class="logo" asp-controller="Home" asp-action="Index">
                    <img src="~/images/LogoFull-removebg-preview.png" alt="Logo" />
                </a>
                <ul class="clearfix">
                    <li>
                        <a asp-controller="StudyHall" asp-action="Index">Занималня</a>
                        <ul>
                            <li><a asp-controller="StudyHall" asp-action="Educational">Учебна занималня</a></li>
                            <li><a asp-controller="StudyHall" asp-action="Summer">Лятна занималня</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Courses" asp-action="All" asp-route-modifier="All">Нашите курсове</a>
                        <ul>
                            <li>
                                <a asp-controller="Courses" asp-action="All" asp-route-modifier="elders">Езикови курсове за възрастни</a>
                                <ul>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="elders" asp-route-lang="Английски език">Английски език за възрастни</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="elders" asp-route-lang="Немски език">Немски език за възрастни</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="elders" asp-route-lang="Руски език">Руски език за възрастни</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="elders" asp-route-lang="Български език за чужденци">Български език за чужденци</a></li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Courses" asp-action="All" asp-route-modifier="ForKids">Езикови курсове за деца</a>
                                <ul>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="ForKids" asp-route-lang="Английски език">Английски език за деца</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="ForKids" asp-route-lang="Немски език">Немски език за деца</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="ForKids" asp-route-lang="Руски език">Руски език за деца</a></li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Courses" asp-action="Suggestopedia">Сугестопедия</a>
                                <ul>
                                    <li><a asp-controller="Courses" asp-action="Suggestopedia">Какво е сугестопедия</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="Suggestopedia" asp-route-lang="Английски език">Сугестопедичен курс по английски език</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-modifier="Suggestopedia" asp-route-lang="Немски език">Сугестопедичен курс по немски език</a></li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Courses" asp-action="All" asp-route-modifier="other">Ученически курсове</a>
                                <ul>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-lang="Математика">Курс математика</a></li>
                                    <li><a asp-controller="Courses" asp-action="All" asp-route-lang="Литература">Курс литература</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Teachers" asp-action="All">За нас</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Blog" asp-action="All">Блог</a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.UtcNow.Year Трите сови - <a asp-area="" asp-controller="Contacts">Контакти</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
