<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Трите Сови</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customCss.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_h93S7BrOPE1EHjvVUQkqB");
        })();
    </script>
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="menu">
                <a class="logo" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo-removebg-preview.png" alt="Logo" />
                </a>
                <ul class="clearfix">
                    <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
                    <li>
                        <a asp-controller="StudyHall" asp-action="Index">Занималня</a>
                        <ul>
                            <li><a asp-controller="StudyHall" asp-action="Educational">Учебна занималня</a></li>
                            <li><a asp-controller="StudyHall" asp-action="Summer">Лятна занималня</a></li>
                        </ul>
                    </li>
                <li>
                    <a asp-controller="Courses" asp-action="All">Езикови курсове</a>
                    <ul>
                        <li>
                            <a href="#">Езикови курсове за възрастни</a>
                            <ul>
                                <li><a href="#">Английски език за възрастни</a></li>
                                <li><a href="#">Немски език за възрастни</a></li>
                                <li><a href="#">Руски език за възрастни</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Езикови курсове за деца</a>
                            <ul>
                                <li><a href="#">Английски език за деца</a></li>
                                <li><a href="#">Немски език за деца</a></li>
                                <li><a href="#">Руски език за деца</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Други езикови кърсове</a>
                            <ul>
                                <li><a href="#">Български език за чужденци</a></li>
                                <li><a href="#">Български език за чужденци (деца)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Teachers" asp-action="All">За нас</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Blog" asp-action="All">Блог</a>
                </li>
                </ul>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.UtcNow.Year Трите сови - <a asp-area="" asp-controller="Contacts">Контакти</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
